.content-app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #d2d2d2;
  main {
    min-height: 400px;
    width: 900px;
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    display: block;
    border-radius: 20px;
    margin-top: 20px;
  }
  footer {
    margin-top: -100px;
    display: block;
    width: 100%;
    svg {
      width: 100%;
    }
  }
}
